{{ partial "head" . }}
{{ partial "nav" . }}

<div>
  <img alt="{{ .Params.client_name }} Logo" src="{{ .Params.client_logo }}">
  <div class="">
    <h1>{{ .Params.slogan }}</h1>
    <ul>
      <li><span>Client:</span> {{ .Params.client_name }}</li>
      {{ if .Params.website }}
        <li><span>Website:</span> <a href="{{ .Params.website }}">{{ .Params.website }}</a></li>
      {{ end }}
      {{ if .Params.our_role }}
        <li><span>Our Role:</span> {{ .Params.our_role }}</li>
      {{ end }}
      {{ if .Params.services }}
        <li><span>Our Homework:</span> {{ .Params.services }}</li>
      {{ end }}
    </ul>
  </div>
</div>

{{ .Content }}
